/*========================
FONTS LINK HERE
========================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*========================
DEFAULT CSS HERE
========================*/

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    color: #333333;
}

h1,
h2,
h3,
h5,
h6,
p {
    margin: 0;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::selection {
    color: white;
    background: #ff7675;
}

::-webkit-selection {
    color: white;
    background: #ff7675;
}

::-moz-selection {
    color: white;
    background: #ff7675;
}

.scrolltotop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #8901ff;
    text-align: center;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 30px;
    bottom: 25px;
    display: none;
    animation: lab_top_up 5s linear infinite;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
}

.scrolltotop i {
    color: #ffff;
}

@keyframes lab_top_up {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-15px);
    }
}

.pluse,
.pluse2 {
    position: relative;
    top: 13px;
    left: -8px;
    z-index: -1;
}

.pluse::before,
.pluse2::before {
    width: 40px;
    height: 40px;
}

.pluse::after,
.pluse::before,
.pluse2::after,
.pluse2::before {
    background: #8901ff;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    display: block;
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
}

.pluse::after,
.pluse2::after {
    width: 30px;
    height: 30px;
    background: transparent;
    margin-left: -15px;
    margin-top: -15px;
}

.pluse::before {
    -webkit-animation: pluse_animate 2.5s infinite linear;
    animation: pluse_animate 2.5s infinite linear;
}

.pluse2::before {
    -webkit-animation: pluse_animate 3s infinite linear;
    animation: pluse_animate 3s infinite linear;
}

@keyframes pluse_animate {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(0.3);
        transform: translate(-50%, -50%) scale(0.3);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(2);
        transform: translate(-50%, -50%) scale(2);
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

/*========================
HEADER CSS HERE
========================*/
.header-area {
    padding: 12px 0;
    background-color: #fff;
}

.logo-wrpper a img {
    width: 250px;
}

.main-menu-wrpper ul {
    text-align: center;
}

.main-menu-wrpper ul li {
    display: inline-block;
    margin: 0 11px;
    position: relative;
}

.main-menu-wrpper ul li a {
    color: #4b5563;
    margin-left: 10px;
    font-weight: 400;
    text-transform: capitalize;
}

.submenu {
    background-color: #fff;
    padding: 25px 3px;
    width: 150px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.main-menu-wrpper ul li:hover > .submenu {
    opacity: 1;
    visibility: visible;
}

.main-menu-wrpper ul li ul {
    position: absolute;
    top: 100%;
    z-index: 50;
}

.main-menu-wrpper ul li ul li {
    display: block;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

.main-menu-wrpper ul li ul li ul {
    position: absolute;
    width: 250px;
    left: 110%;
    top: 0;
}

.main-menu-wrpper ul li ul li ul li a {
    color: #222222;
    font-size: 14px;
    font-weight: 400;
}

.main-menu-wrpper ul li ul li ul li {
    margin-bottom: 15px;
}

.main-menu-wrpper ul li ul li:last-child {
    margin-bottom: 0;
}

.login-signup-wrpper ul {
    text-align: right;
}

.login-signup-wrpper ul li {
    display: inline-block;
}

.login-signup-wrpper ul li:first-child a {
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    padding: 9px 20px;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
}

.login-signup-wrpper ul li:last-child {
    margin-left: 20px;
}

.login-signup-wrpper ul li:last-child a {
    color: #fff;
    background-color: #4f34fb;
    border-radius: 20px;
    padding: 9px 20px;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
}

.hamburger .line {
    width: 40px;
    height: 2px;
    background-color: #000;
    display: block;
    margin: 11px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-right: 0;
}

#hamburger-1 {
    cursor: pointer;
    text-align: right;
}

#hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}

/*========================
Mobile Manu Area CSS HERE
========================*/
.btn-close:focus {
    outline: none;
    box-shadow: none;
    opacity: 1;
}

.sidebar-logo a img {
    width: 250px;
}

.offcanvas-footer {
    padding-bottom: 20px;
}

.offcanvas-footer .login-signup-wrpper ul {
    text-align: center;
}

.mobile-navbar ul li a,
.mobile-submenu li a {
    color: #4b5563;
    margin-left: 10px;
    font-weight: 400;
    text-transform: capitalize;
}

.mobile-navbar ul li a i {
    margin-left: 5px;
    font-size: 13px;
}

.mobile-submenu li {
    margin: 10px 0;
}

.mobile-submenu {
    display: none;
    padding-left: 30px;
}

.sub-btn i {
    transition: all ease-in-out 250ms;
}

.chevron-up {
    transform: rotateZ(-180deg);
}

.mobile-navbar > ul > li {
    margin-bottom: 10px;
}

.offcanvas-top {
    height: 70vh !important;
}

/*========================
HERO AREA CSS HERE
========================*/
.hero-area {
    background: #fff;
}

.hero-area-overlay {
    padding: 110px 0;
    padding-top: 100px;
}

.hero-title-wrpper h1 {
    color: #000;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    line-height: 115%; /* 125% */
    /* text-transform: capitalize; */
}

.hero-btns {
    margin-top: 35px;
}

.hero-btns ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    max-width: 550px;
    margin: auto;
    justify-content: space-evenly;
}

.hero-btns ul li span {
    color: #000;
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.hero-btns ul li:first-child a {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #000;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    background: #000;
}

.hero-btns ul li:last-child a {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    /*! border: 1px solid #000; */
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
background: #8901FF;
}

.hero-list-wrpper h1 {
    font-size: 40px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    background: -webkit-linear-gradient(180deg, #A200FF, #6003FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.hero-list-wrpper {
    height: 30px;
    margin-top: 15px;
    max-width: 550px;
    margin: auto;
    margin-top: 15px;
}

.hero-title-wrpper {
	max-width: 550px;
	margin: auto;
}

.hero-list-wrpper img {
    width: 36px;
	margin-top: -14px !important;
}

/*========================
ALL STUDENTS AREA CSS HERE
========================*/
.all-student-area {
    background: url(images/all-students-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.all-students-overlay {
    padding-top: 101px;
    padding-bottom: 100px;
    /*! -webkit-text-size-adjust: auto; */
}

.all-students-list ul {
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.all-students-list ul li {
    display: inline-flex;
    padding: 5px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.all-student-contetn {
    max-width: 864px;
    margin: auto;
    margin-top: 20px;
}

.all-student-contetn p {
    color: #fff;
    text-align: center;
    font-size: 52px;
    font-weight: 600;
    line-height: 115.385%;
    text-transform: capitalize;
}

/*========================
POST AREA AREA CSS HERE
========================*/
.post-area {
    padding-top: 100px;
    padding-bottom: 74px;
}

.post-content h4 {
    color: #4f34fb;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    text-transform: capitalize;
    margin-bottom: 14px;
}

.post-content h2 {
    color: #2d2d2d;
    font-size: 52px;
    font-weight: 600;
    line-height: 115.385%;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.post-content h2 span {
    color: #4f34fb;
}

.post-content-row li {
    display: flex;
    column-gap: 10px;
    margin-bottom: 25px;
}

.post-content-row li:last-child {
    margin-bottom: 0;
}

.row-content p {
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 600;
    line-height: 144.444%;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.row-content span {
    color: #666;
    font-size: 18px;
    font-weight: 400;
    line-height: 133.333%;
}

.img-one {
    border-radius: 22.149px 0 0 22.149px;
    border: 2.215px solid #8901ff;
    background: linear-gradient(
        163deg,
        rgba(255, 204, 185, 0.4) 11.68%,
        rgba(82, 1, 153, 0.4) 88.32%
    );
}

.post-image img {
    width: 100%;
    transform: translate(14px, 14px);
}

.first-post,
.second-post,
.third-post,
.third-post-wrpper,
.fourth-post {
    position: relative;
}

.first-post::after {
    content: "";
    display: block;
    clear: both;
    position: absolute;
    width: 192px;
    height: 192px;
    background: url(images/post-after.png) no-repeat;
    background-size: contain;
    background-position: right;
    right: 0;
    bottom: 20%;
    z-index: -1;
}

.img-two {
    border-radius: 22.149px;
    border: 2.215px solid rgba(255, 156, 144, 0.5);
    background: linear-gradient(
        120deg,
        rgba(255, 156, 144, 0.3) 0%,
        rgba(255, 156, 144, 0.09) 100%
    );
}

.second-post,
.third-post,
.fourth-post {
    padding-top: 100px;
}

.second-post::before {
    content: "";
    display: block;
    clear: both;
    position: absolute;
    width: 192px;
    height: 192px;
    background: url(images/million-educator-after.png) no-repeat;
    background-size: contain;
    background-position: left;
    left: 0;
    top: 82px;
    z-index: -1;
}

.img-two img {
    transform: translate(-14px, 14px);
}

.img-three {
    border-radius: 22.149px;
    border: 2.215px solid rgba(79, 52, 251, 0.5);
    background: linear-gradient(
        120deg,
        rgba(137, 1, 255, 0.3) 0%,
        rgba(82, 1, 153, 0.09) 100%
    );
}

.third-post::after,
.third-post::before,
.single-post-wrpper::after {
    content: "";
    display: block;
    clear: both;
    position: absolute;
    /* background-size: contain; */
    background-repeat: no-repeat;
}

.third-post::before {
    width: 92px;
    height: 92px;
    background: url(images/after-before-dots.png) no-repeat;
    background-position: left;
    background-size: contain;
    left: 0;
    top: 25%;
}

.third-post::after {
    width: 61px;
    height: 61px;
    background: url(images/lover-by-after.png) no-repeat;
    background-position: left;
    left: 5%;
    bottom: 50px;
    background-size: calc(60px);
}

.third-post-wrpper::after {
    width: 61px;
    height: 61px;
    background: url(images/lover-by-after.png) no-repeat;
    background-size: calc(60px);
    background-position: right;
    top: -22px;
    left: 101%;
}

.img-four {
    border-radius: 22.149px;
    border: 2.215px solid rgba(255, 156, 144, 0.5);
    background: linear-gradient(
        120deg,
        rgba(255, 156, 144, 0.3) 0%,
        rgba(255, 156, 144, 0.09) 100%
    );
}

.img-four img {
    transform: translate(-14px, 14px);
}

.fourth-post::after {
    content: "";
    display: block;
    clear: both;
    position: absolute;
    width: 192px;
    height: 192px;
    background: url(images/million-educator-after.png) no-repeat;
    background-size: contain;
    background-position: left;
    left: 0;
    bottom: -90px;
    z-index: -2;
}

.fourth-post::before {
    content: "";
    display: block;
    clear: both;
    position: absolute;
    width: 192px;
    height: 192px;
    background: url(images/post-after.png) no-repeat;
    background-size: contain;
    background-position: right;
    right: 0;
    top: 0;
    z-index: -2;
}

/*========================
SAVE TIME AREA CSS HERE
========================*/
.save-time-area {
    padding-top: 0;
    padding-bottom: 74px;
}

.save-time-wrpper {
    background: url(images/banner.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 37px;
    padding-bottom: 37px;
    border-radius: 20px;
    overflow: hidden;
}

.save-time-content-wrpper {
    width: 50%;
    margin: auto;
}

.save-time-content-wrpper h2 {
    color: #fff;
    text-align: center;
    font-size: 52px;
    font-weight: 600;
    line-height: 115.385%;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.save-time-content-wrpper p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 183.333%;
    margin-bottom: 30px;
}

.save-time-content-wrpper {
    text-align: center;
}

.save-time-content-wrpper a {
    display: inline-flex;
    padding: 14px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #fff;
    color: #8901ff;
    font-size: 18px;
    font-weight: 600;
    margin-left: auto;
}

/*========================
FOOTER AREA CSS HERE
========================*/
.footer-area-top-wrpper {
    background: url(images/footer-top-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-social-icons a img {
    width: 260px;
}

.footer-social-icons p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    width: 75%;
    margin-top: 16px;
}

.social-links {
    display: flex;
    column-gap: 10px;
    margin-top: 20px;
}

.social-links li a img {
    width: 33px;
}

.usefull-links h3,
.socials-linsk h3,
.support-links h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.usefull-links ul li,
.socials-linsk ul li,
.support-links ul li {
    margin-bottom: 15px;
}

.usefull-links ul li a,
.socials-linsk ul li a,
.support-links ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.footer-bottom-wrpper {
    padding: 10px 0;
}

.copy-right-section p {
    color: #666;
    font-size: 18px;
    font-weight: 400;
}

.trems-policy ul {
    display: flex;
    justify-content: flex-end;
}

.trems-policy ul li:last-child {
    padding-left: 10px;
}

.trems-policy ul li a {
    color: #666;
    font-size: 18px;
    font-weight: 400;
}

.trems-policy ul li:first-child {
    border-right: 1px solid rgba(45, 45, 45, 0.2);
    padding-right: 10px;
}
